.results {
  &--wrapper {
    padding: 20px 10px;
  }

  &--count {
    color: grey;
    font-size: 14px;
  }

  &--item {
    padding: 10px 0px;
    border-top: 1px lightgrey solid;

    &:hover {
      background-color: #ae8f4a40;
    }
  }

  &--item:first-child {
    padding: 10px 0px;
    border: none;
  }
}
