@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .sidebar-icon{
        @apply flex relative items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto px-0 py-0
        bg-secondary text-white 
        hover:bg-accent hover:text-white 
        rounded-3xl hover:rounded-xl
        transition-all duration-200 ease-linear;
    }
    
    .sidebar-tooltip{
        @apply absolute w-auto p-2 m-2 min-w-max bottom-14
        rounded-md shadow-md
        text-accent bg-sage
        text-xs font-bold
        transition-all duration-100 scale-0 origin-bottom;
    }
    .counter{
        @apply flex flex-col items-center justify-center
    }

    .counter-row{
        @apply flex flex-row my-5 mx-auto
    }

    .counter-btn{
        @apply flex relative px-14 text-8xl font-bold items-center justify-center text-center align-middle mx-10 min-w-max min-h-max
        bg-slate-800 text-teal-500 
        hover:bg-teal-500 hover:text-white 
        rounded-3xl hover:rounded-xl
        transition-all duration-200 ease-linear;
    }

    .form{
        @apply flex flex-col absolute py-3 px-1 items-center mx-auto
        w-1/3 h-5/6 shadow-xl left-1/3 top-1/4
    }

    .form-body{
        @apply flex flex-col relative w-5/6 mx-auto items-center text-center
    }

    .portionbtn{
        @apply mx-1 min-w-max px-5 py-1
        border-gray-100 border-2 rounded-md
        hover:border-secondary focus:outline-none
        transition-colors duration-300
    }
    .btn-selected{ 
        @apply border-accent focus:outline-none hover:border-accent
        transition-all duration-200 ease-linear
    }
    Select{
        @apply transition-all duration-200 ease-linear
    }
    p{
        @apply text-xs relative font-light
    }
    .fdBox{
        @apply bg-slate-100 rounded-lg w-11/12 text-left px-1 py-2 
    }
    .fdhead{
        @apply font-bold font-
    }
}
